{% extends 'base.html' %}
{% block content %}
<div class="container-gestao">
    <h2>Nascimento do Produto (Cadastro Mestre SQL)</h2>
    
    <form method="POST" action="/" class="form-corporativo">
        <div class="form-group">
            <label>Código Único do Produto (Part Number):</label>
            <input type="text" name="part_number" required placeholder="Ex: PN-1002">
        </div>
        <div class="form-group">
            <label>Descrição Comercial do Item:</label>
            <input type="text" name="descricao" required placeholder="Ex: Cadeira Ergonômica Industrial">
        </div>
        <button type="submit" class="btn-salvar">Salvar Produto no SQL</button>
    </form>

    <div class="tabela-container">
        <h3>Catálogo de Engenharia Cadastrado</h3>
        <table class="tabela-dados">
            <thead>
                <tr>
                    <th>ID Interno</th>
                    <th>Código Mestre (Part Number)</th>
                    <th>Descrição do Produto Industrial</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.id }}</td>
                    <td><strong>{{ produto.part_number }}</strong></td>
                    <td>{{ produto.descricao }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
